* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Karla', sans-serif;
  margin: 0;
  background-color: rgb(245, 245, 245);
}

button:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1, h2, h3, h4, h5{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  text-align: center;
}

.hidden,
.collapse{
  display: none;
}

.tab{
  margin-left: 2rem;
}

nav{
  display: flex;
  position: fixed;
  padding: 1rem 2rem;
  background-color: rgb(10, 80, 130);
  width: 100%;
}

nav span{
  font-size: 2.8rem;
}

nav button,
nav span,
nav a,
nav a:visited{
  color: rgb(245, 245, 245);
}

.nav-links-container{
  margin-left: auto;
  display: flex;
  background-color: inherit;
}

.nav-links-container button{
  background: none;
  border: none;
  font-size: 2rem;
}

#nav-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5.2rem;
  left: 0;
  width: 100%;
  background-color: inherit;
  text-align: center;
}

.nav-links-container a{
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  padding: .8rem;
  text-decoration: none;
  margin-top: 4px;
}

.nav-links-container a:hover{
  background-color:rgb(15, 110, 180);
}

section{
  padding: 2rem 2rem 14rem;
}

section h1{
  font-size: 2.8rem;
  padding-top: 5.3rem;
}

section h2{
  font-size: 2.2rem;
}

section h3{
  font-size: 1.8rem;
}

section h3,
section h4{
  color: rgb(80, 80, 80);
}

section h4,
section p{
  font-size: 1.8rem;
}

section p{
  margin: 1rem 0 0;
  line-height: 1.4;
  letter-spacing: .05rem;
  word-spacing: .05rem;
}

section:nth-child(even){
  background-color: rgb(240, 240, 240);
}

#landing{
  margin-top: 0;
  padding-top: 5.2rem;
  text-align: center;
}

#landing h1{
  font-size: 3rem;
}

#landing p{
  font-size: 2.2rem;
  margin: 1rem 1rem 0;
}

.contact-ctnr{
  margin-top: 4rem;
}

.contact-link{
  display: inline-block;
  margin: 0 2rem;
  font-size: 3.4rem;
}

footer h3,
.contact-link,
.contact-link:visited{
  color:rgb(25, 110, 170);
}

.contact-link:hover{
  color: grey;
}

.profile-icon-container{
  padding: 8rem 0;
}

.profile-icon{
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  width: 10rem;
}

#about{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#about p{
  font-size: 2.2rem;
  line-height: 1.5;
}

.about-text-container{
  max-width: 80rem;
}

.projects{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.stack-container,
.project-container > div,
.project-container{
  padding: 1rem;
}

.project-container{
  margin-top: 4rem;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  border-radius: 1rem;
  max-width: 80rem;
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.4);
}

.img-container{
  flex: 1 1 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot{
  width: 100%;
}

.descr-container{
  flex: 1.5 1.5 60%;
}

.tech-container{
  flex: 1 1 100%;
}

.stacks-container{
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.tech-list{
  list-style-type: none;
  margin: .5rem 0 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.tech-icon{
  height: 40px;
  padding: .4rem;
}

.links-container{
  flex: 1;
  text-align: center;
}

.links-container a{
  display: inline-block;
  padding: 1rem 1rem;
  margin: 1rem 2rem;
  font-size: 2rem;
  background: black;
  border-radius: 8px;
}

.links-container a,
.links-container a:visited{
  color: rgb(245, 245, 245);
}

.links-container a:first-child:hover{
  background: rgb(8, 97, 138);
}

.links-container a:last-child:hover{
  background: rgb(120, 135, 139);
}

footer{
  background-color: black;
  text-align: center;
  padding: 4rem 2rem;
}

footer h3{
  padding-bottom: 2rem;
  font-size: 2rem;
}

@media screen and (min-width: 420px) {
  #hamburger{
    display: none;
  }

  #nav-menu{
    position: static;
    display: flex;
    align-items: center;
  }

  .nav-links-container a{
    padding: 0 .8rem;
    font-size: 1.8rem;
    margin-top: 0;
  }

  .nav-links-container li:not(:first-child){
    border-left: 2px solid rgb(245, 245, 245);
  }

  .nav-links-container a:hover{
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  .profile-icon{
    width: 140px;
  }
}