* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
}

button:hover{
  cursor: pointer;
}

.hidden{
  display: none;
}

nav{
  display: flex;
  position: fixed;
  padding: 1rem;
  background-color: gray;
  width: 100%;
}

nav span{
  font-size: 2.8rem;
}

.nav-links-container{
  margin-left: auto;
  display: flex;
}

.nav-links-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5.2rem;
  left: 0;
  width: 100%;
  background-color: grey;
  text-align: center;
}

nav a{
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  padding: .8rem;
}

nav a:hover{
  background-color: bisque;
}

.landing{
  padding-top: 5.2rem;
}

@media screen and (min-width: 400px) {

}